[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[dev-packages]

[packages]
click = "*"
clint = "*"
requests = "*"
sgr-ansi = {editable = true,path = "/Users/lihe/00Li/github/sgr-ansi"}

[requires]
python_version = "3.8"
